main {
  padding: spacing(2) spacing(1);
}

.register-client-form {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  max-width: width(4);
  font-family: $font-family;
  color: #09141b;

  @include body-1;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: spacing(4);
}

.register-client-input-field {
  height: 30px;
  border-radius: map.get($border-radius, 'small');
  border-width: map.get($border-width, 'small');
  padding: spacing('half') spacing(2);
  font-size: inherit;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: spacing(5);
}

.step-header {
  margin-top: 0;

  @include headline-2;
}

.step-indicator {
  margin: 0;

  @include body-2;
}

.current-section {
  color: #50a3b5;
}
