body {
  margin: 0;
  min-height: 100vh;

  .sanhaua {
    height: 100vh;

    main {
      padding: spacing(4);
      max-width: 100vw;
      box-sizing: border-box;
      height: 100%;
    }
  }

  &.light {
    background-color: map.get($color-neutral-light, '100');
    color: map.get($color-neutral-light, '900');

    .current-section {
      color: map.get($color-primary-light, '500');
    }
  }

  &.dark {
    background-color: map.get($color-neutral-dark, '100');
    color: map.get($color-neutral-dark, '900');

    .current-section {
      color: map.get($color-primary-dark, '500');
    }
  }
}

.register-client-form {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
  max-width: width(3);
  font-family: $font-family;
  color: #09141b;

  @include body-1;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: spacing(4);
}

.register-client-input-field {
  height: 30px;
  border-radius: map.get($border-radius, 'small');
  border-width: map.get($border-width, 'small');
  padding: spacing('half') spacing(2);
  font-size: inherit;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: spacing(2);
  margin-top: spacing(2);
}

.step-header {
  margin-top: 0;

  @include headline-2;
}

.step-indicator {
  margin: 0;

  @include body-2;
}

.toast-container {
  position: fixed;
  z-index: map.get($z-index, 'toast');
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  justify-content: center;
  width: 100%;
  max-width: width(2);
  padding: spacing(2);
  box-sizing: border-box;

  @include breakpoint-max('sm') {
    max-width: 100%;
  }
}
